﻿﻿
@{
    Layout = null;
}

<div class="card text-center">
    <div class="card-header">
        NOTA
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.titulo</h5>
        <small>@Model.fechaModificacion</small>
      
        <p class="card-text">@Model.contenido</p>
        <button value=@Model.id id="editar" class="btn btn-primary">Editar</button>
        <button value=@Model.id id="eliminarNota" class="btn btn-primary">Eliminar</button>

    </div>
    
</div>
