﻿

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<div id="row" class="row ">


    <div class="col-2 collapse" id="collapseExample">
        <div class="sticky-top">
            <div class="nav flex-column">


            </div>
        </div>
    </div>


    <div class="col-6">


        <div class="col-12 mt-3 mb-3">
            <div class="form-inline my-2 my-lg-0 ">

                <button class="btn btn-info mr-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-list"></i></button>
                <input id="buscador" class="form-control mr-sm-2" type="search" style="        width: 279px;" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" id="addNote"><i class="bi bi-journal-plus"></i>Add Note</button>
            </div>

        </div>

        <div id="notasLista" class="col-12">

            <ul>

                @foreach (Nota nota in Model)
                {

    <li class="liNota" id=@nota.id>

        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">@nota.titulo</h5>
                <p class="card-text">@nota.contenido.Substring(0, 50)...</p>

            </div>
        </div>

    </li>
    }

            </ul>


        </div>


    </div>


    <div class="col-4" id="colForm">



    </div>



</div>


@section Scripts{


    <script>

        $(document).ready(


            function () {












                $("#row").on("click", "#addNote",


                    function (e) {


                        e.preventDefault();
                      

                        var req = $.ajax(

                            {
                                url: 'Home/formAdd',
                                type: 'get'

                            }

                        );

                        req.done(


                            function (respuesta) {

                                $("#colForm").html(respuesta);

                                var btnCrear = $("#createNote");
                                btnCrear.click(

                                    function (e) {

                                        e.preventDefault();


                                        var r = $.ajax(

                                            {

                                                url: 'Home/crearNota',
                                                type: 'post',
                                                data: {
                                                    titulo: $("#inpTitulo").val(),
                                                    contenido: $("#inpContenido").val()
                                                    

                                                }



                                            }

                                        );
                                        r.done(

                                            function (respuesta) {

                                              
                                                $("#row").html(respuesta);



                                            }




                                        );


                                    }







                                );


                            }









                        );







                            


                    }


                );



                //getNota



                $("#row").on("click", ".liNota",

                    function (e) {

                        e.preventDefault();
                        var liNota = $(this);

                        var request = $.ajax(
                            {

                                url: 'Home/getNota',
                                type: 'post',
                                data: {
                                    id: liNota.attr("id")
                                }



                            }


                        );
                        request.done(

                            function (res) {

                                $("#colForm").html(res);
                            }




                        );




                    }


                );

                //buscador



                $("#row").on("keyup", "#buscador",


                    function (e) {
                        e.preventDefault();


                        var buscador = $("#buscador");

                        var request = $.ajax(

                            {

                                url: 'Home/search',
                                type: 'post',
                                data: {
                                    buscar: buscador.val()
                                }




                            }



                        );
                        request.done(

                            function (respuesta) {

                                $("#notasLista").html(respuesta);
                            }


                        );



                    }






                );

                //--end



                //editarNota


                $("#row").on("click", "#editar",

                    function (e) {
                        e.preventDefault();

                        var request = $.ajax(
                            {

                                url: 'Home/formEditar',
                                type: 'get',
                                data: {
                                    id: $("#editar").val()
                                }

                            }


                        );

                        request.done(

                            function (respuesta) {


                                $("#colForm").html(respuesta);

                                





                                var btnCrear = $("#editarNote");

                                btnCrear.click(

                                    function (e) {
                                        e.preventDefault();

                                        var r = $.ajax(

                                            {

                                                url: 'Home/guardarEditado',
                                                type: 'post',
                                                data: {
                                                    titulo: $("#inpTitulo").val(),
                                                    contenido: $("#inpContenido").val(),
                                                    id: $("#inputId").val()
                                                    

                                                }



                                            }

                                        );

                                        r.done(

                                            function (respuesta) {

                                         
                                                $("#row").html(respuesta);



                                            }




                                        );


                                    }

                                );













                            }



                        );


                    }


                );

                //eliminar Nota


                $("#row").on("click", "#eliminarNota",


                    function (e) {

                        e.preventDefault();

                        var request = $.ajax(
                            {

                                url: 'Home/eliminarNota',
                                type: 'get',
                                data: {
                                    id: $("#eliminarNota").val()
                                }

                            }


                        );

                        request.done(

                            function (respuesta) {

                            
                                $("#row").html(respuesta);
                            }



                        );




                    }




                );




            }





        );



                    


        



    </script>


}